development:
  secret_key_base: development-secret-key-base

test:
  secret_key_base: test-secret-key-base

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  s3_access_key_id: ''
  s3__secret_access: ''
  s3_region: ''
  s3_bucket: ''
